{% extends 'base.html.twig' %}

{% block title %}Compress - Accueil{% endblock %}

{% block body %}
<div class="ui large top fixed menu transition hidden">
    <div class="ui container">
        <a class="item {% if 'accueil' in app.request.uri %}active{% endif %}">Accueil</a>
        <a class="item {% if 'fonctionnalites' in app.request.uri %}active{% endif %}">Fonctionnalités</a>
        <a class="item  {% if 'about' in app.request.uri %}active{% endif %}">À propos</a>
        <div class="right secondary pointing menu">
        {% if app.user %}
            <a href="{{path('app_profile')}}" class="ui item">
                Mon compte
            </a>
            <a href="{{path('app_logout')}}" class="ui item">
                Déconnexion
            </a>
        {% else %}
            <a href="{{path('app_login')}}" class="ui item">
                Connexion
            </a>
        {% endif %}
        </div>
    </div>
</div>

<div class="ui inverted center aligned segment premier" id="premier" style="border-radius:0;padding-bottom:10em;margin-top:0;">
    <div class="ui container">
        <div class="ui inverted secondary pointing menu">
            <a href="#" class="item active">Accueil</a>
            <a href="#fonctions" class="item">Fonctionnalités</a>
            <a class="item  {% if 'about' in app.request.uri %}active{% endif %}">À propos</a>
            <a href="{{path('app_contact')}}" class="item">Contact</a>
            <div class="right secondary pointing menu">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('admin')}}" class="ui item">
                    Administration
                </a>
                {% endif %}
                <a href="{{path('app_profile')}}" class="ui item">
                    Mon compte
                </a>
                <a href="{{path('app_logout')}}" class="ui item">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{path('app_login')}}" class="ui item">
                    Connexion
                </a>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="ui text container">
    <h1 class="ui inverted header" style="padding-top:2em; font-size:4em;">
        {{titre}}
    </h1>
    <div class="ui buttons">
        <button id="butlink" class="ui violet active button">Lien</button>
        <button id="butfile" class="ui violet button">Fichier</button>
    </div>
    <h2 class="ui inverted header">{{description}}</h2>
    {# <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div> #}
    <form class="ui form" action="{{ path('app_add') }}" method="POST" enctype="multipart/form-data">
        <div id="fieldlink" class="field" style="margin-bottom:0;">
            <input type="text" name="ressource[]" placeholder="Entrez un lien à raccourcir ...">
        </div>
        <div id="fieldfile" class="field" style="display:none;">
            <input type="file" name="ressource[]" accept="image/*,.pdf">
        </div><br>
        {% if is_granted('ROLE_VIP') %}
        <div class="ui icon input" style="width:300px;">
            <input id="inputpass" name="pass" type="password" placeholder="Optionnel: ajoutez un mot de passe" >
            <i class="circular eye link icon"></i>
        </div>
        {% endif %}
        <input id="inputtype" type="hidden" name="type">
        <button class="ui right labeled icon basic inverted violet button" type="submit">
            <i class="right arrow icon"></i>
            Raccourcir
        </button>
    </form>
    </div>
</div>
<div id="fonctions" class="ui center aligned segment" style="border:none;border-radius:0;box-shadow:none;padding-top:4em;">
    <div class="ui stackable container">
        <h1 class="header">Découvrez les fonctionnalités</h1>
        <div class="ui three cards">
            <div class="ui card">
                <div class="content">
                    <div class="header">
                        Anonyme
                    </div>
                    <div class="description">
                        <div class="ui bulleted list">
                            <div class="item">Raccourcir un lien</div>
                            <div class="item">Mettre en ligne un fichier</div>
                            <div class="item">Voir certaines statistiques des liens anonymes</div>
                        </div>
                    </div>
                </div>
                <div class="ui button">
                    <i class="check icon"></i>
                    Choisir
                </div>
            </div>
            <div class="ui blue card">
                <div class="content">
                    <div class="header" style="color:blue;">
                        Membre
                    </div>
                    <div class="description">
                        <div class="ui bulleted list">
                            <div class="item">Voir toutes les statistiques (privées)</div>
                            <div class="item">Voir tous ses liens</div>
                            <div class="item">et toutes les fonctionnalités d'un utilisateur anonyme</div>
                        </div>
                    </div>
                </div>
                <div class="ui blue button">
                    <i class="check icon"></i>
                    Choisir
                </div>
            </div>
            <div class="ui orange card">
                <div class="content">
                    <div class="header" style="color:orange;">
                        VIP
                    </div>
                     <div class="description">
                        <div class="ui bulleted list">
                            <div class="item">Mettre un mot de passe sur un lien</div>
                            <div class="item">Personnaliser le lien raccourci</div>
                            <div class="item">et toutes les fonctionnalités d'un anonyme et d'un membre</div>
                        </div>
                    </div>
                </div>
                <div class="ui orange button">
                    <i class="check icon"></i>
                    Choisir
                </div>
            </div>
        </div>
        <br><br>
        <a class="ui huge button">Créer votre compte</a>
    </div>
</div>
<div class="ui center aligned segment deuxieme" style="border-radius:0;box-shadow:none;padding-top:4em;">
    <div class="ui stackable container">
        <h1 class="header">Comparez les fonctionnalités</h1>
        <table class="ui definition celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>Anonyme</th>
                    <th>Membre</th>
                    <th>VIP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raccoucir un lien</td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Mettre en ligne un fichier</td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Voir les statistiques d'un lien</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Personnaliser le lien</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Protéger un lien par un mot de passe</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br><br><br><br>
<div class="ui center aligned segment deuxieme" style="border-radius:0;box-shadow:none;padding-top:4em;">
    <div class="ui stackable container">
        <h1 class="header">Comparez les fonctionnalités</h1>
        <table class="ui definition celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>Anonyme</th>
                    <th>Membre</th>
                    <th>VIP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raccoucir un lien</td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Mettre en ligne un fichier</td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Voir les statistiques d'un lien</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Personnaliser le lien</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
                <tr>
                    <td>Protéger un lien par un mot de passe</td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="red icon times"></i></td>
                    <td><i class="green icon checkmark"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br><br><br><br><br>

{% endblock %}
{% block script %}
<script>
$(function() {
    $('#inputtype').val('link');

    $('.deuxieme').visibility({
        once: false,
        onTopPassed: function() {
            $('.fixed.menu').transition('fade in');
            console.log("passé");
        },
        onTopPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
            console.log("passé reverse");
        }
    });

    $('#butlink').click(function() {
        console.log("bouton link");
        $('#fieldlink').show();
        $('#fieldfile').hide();
        $('#butfile').removeClass('active');

        $('#inputtype').val("link");
        console.log($('#inputtype').val());
    });
    $('#butfile').click(function() {
        console.log("bouton file");
        $('#fieldlink').hide();
        $('#fieldfile').show();
        $('#butlink').removeClass('active');

        $('#inputtype').val("file");
        console.log($('#inputtype').val());
    });
    
    
    {% if is_granted('ROLE_VIP') %}
    $('.circular.eye.icon').click(function() {
        if($('#inputpass').attr('type') == 'password') {
            $('#inputpass').attr('type', 'text');
        }
        else {
            $('#inputpass').attr('type', 'password');
        }
    })
    {% endif %}
});
</script>
{% endblock %}