{% extends 'base.html.twig' %}

{% block title %}Contactez nous !{% endblock %}

{% block body %}
{# 
{{ form_start(form) }}
<div class="row">
    <div class="col"> {{ form_row(form.firstname) }}</div>
    <div class="col"> {{ form_row(form.lastname) }}</div>
</div>
<div class="row">
    <div class="col"> {{ form_row(form.email) }}</div>
</div>
{{ form_rest(form) }}
<div class="form-group">
    <button class="btn btn-primary">Envoyer</button>

</div>
{{ form_end(form) }} #}
<div class="ui centered grid">
<div class="ten wide column">
    <div class="ui center aligned segment">
    {% for label, messages in app.flashes(['success']) %}
        {% for message in messages %}
            <div class="flash-{{label}}">
                {{message}}
            </div>
        {% endfor %}
    {% endfor %}
        <h1 class="header">Nous contacter</h1>
        <form class="ui form" action="{{path('app_contact')}}" method="POST">
            <div class="two fields">
                <div class=" field">
                    <label>Prénom</label>
                    <input type="text" name="contact[firstname]">
                </div>
                <div class=" field">
                    <label>Nom</label>
                    <input type="text" name="contact[lastname]">
                </div>
            </div>
            <div class=" field">
                <label>Email</label>
                <input type="email" name="contact[email]">
            </div>
            <div class=" field">
                <label>Message</label>
                <textarea name="contact[message]"></textarea>
            </div>
            <button class="ui button" type="submit">Envoyer</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
