<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
                    <script src="/dist/jquery.min.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/dist/semantic.min.js"></script>
        {% endblock %}
    </head>
    <body>
    {# <h1> bienvenue</h1> #}
    {% if app.request.uri != url('app_accueil') 
        and app.request.uri != url('app_login') 
        and app.request.uri != url('app_register') %}
    <div class="ui grid">
        <div class="computer only row">
            <div class="column">
            {% if is_granted('ROLE_USER') %}
                <div class="ui red menu">
                    <div class="left menu">
                    </div>
                    <div class="center menu">
                        <div class="center menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="item {% if 'admin' in app.request.uri %}active{% endif %}" href="{{path('admin')}}">
                                <i class="database icon"></i>
                                Espace admin
                            </a>
                        {% endif %}
                            <a class="item " href="{{path('app_accueil')}}">
                                <i class="home icon"></i>
                                Accueil
                            </a>
                            <a class="item {% if 'profil' in app.request.uri %}active{% endif %}" href="{{path('app_profile')}}">
                                <i class="user icon"></i>
                                Profil
                            </a>
                            <a class="item {% if 'buy' in app.request.uri %}active{% endif %}" href="{{path('app_buy')}}">
                                <i class="plus icon"></i>
                                Devenir VIP
                            </a>
                            <a class="item {% if 'contact' in app.request.uri %}active{% endif %}" href="{{path('app_contact')}}">
                                <i class="envelope open icon"></i>
                                Contact
                            </a>
                        </div>
                    </div>
                    <div class="right menu">
                        <a href="{{path('app_logout')}}" class="item"><i class="power off red icon"></i></a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="ui red menu">
                    <div class="left menu">
                    </div>
                    <div class="center menu">
                        <div class="center menu">
                            <a class="item " href="{{path('app_accueil')}}">
                                <i class="home icon"></i>
                                Accueil
                            </a>
                            <a class="item {% if 'register' in app.request.uri %}active{% endif %}" href="{{path('app_register')}}">
                                <i class="edit icon"></i>
                                Créer un compte
                            </a>
                            <a class="item {% if 'buy' in app.request.uri %}active{% endif %}" href="{{path('app_buy')}}">
                                <i class="plus icon"></i>
                                Devenir VIP
                            </a>
                            <a class="item {% if 'contact' in app.request.uri %}active{% endif %}" href="{{path('app_contact')}}">
                                <i class="envelope open outline icon"></i>
                                Contact
                            </a>
                        </div>
                    </div>
                    <div class="right menu">
                        <a href="{{path('app_login')}}" class="item"><i class="door open green icon"></i>Se connecter</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
